/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #faf8f8;
  background-image: url('Imagies\Home page.jpg');
  background-size: cover;
  padding: 0;
  color: #aa1515;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-menu li {
  margin: 50px;
}

.nav-menu li a {
  color: #0c0c0c;
  text-decoration: none;
}

/* .social-media {
  display: flex;
  justify-content: flex-end;
}

.social-media a {
  margin-left: 10px;
} */

h1 {
  font-size: 32px;
  margin: 0;
}

.hero {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0a0606;
  text-align: center;
}

.hero-content {
  max-width: 800px;
}

.hero h1 {
  font-size: 70px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 130px;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ff9800;
  color: #f8f5f5;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #f57c00;
}

.footer-content {
  padding: 40px;
  background-color: #333;
  color: #fff;
}

.footer-content h4 {
  margin-bottom: 20px;
}

.footer-content p {
  margin-bottom: 20px;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
}

.footer-content ul li {
  margin-bottom: 10px;
}

.footer-content ul li a {
  color: #fff;
  text-decoration: none;
}

.social-media img {
  width: 30px;
  margin: 0 5px;
}
<<<<<<< HEAD

/* Media Query */
@media (max-width: 768px) {
  /* Adjust styles for screens with a maximum width of 768px */
  .nav-menu li {
    margin: 10px;
  }

  .hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .hero p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .cta-button {
    font-size: 16px;
    padding: 10px 20px;
  }
=======
.booking_form{
  background-color: rgba(255,255,255,0.7);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
}
.booking_form h2{
text-align:center ;
}
.booking_form{
  display: flex;
  flex-direction: column;
}
.booking_form input{
padding: 8px;
border: 1px solid #ccc;
border-radius: 5px;
}
.booking_form button{
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}
.booking_form button:hover{
  background-color: #45a049;
>>>>>>> 5a322049c853043fbc9fccadb3a87a367524cd96
}